{% extends "base.html" %} {% block content %}
<div class="max-h-screen ml-64 mr-64 mt-4">
  <div class="flex gap-2 justify-between">
    <div class="w-2/12 bg-gray-100">
      <ul class="p-8">
        <a class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </a>

        <a class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </a>
        <a class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </a>

        <a class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </a>
        <div class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </div>

        <div class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </div>
        <div class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </div>

        <div class="flex gap-2 items-center p-2">
          <li class="fa-brands fa-github-square"></li>
          <li>Phones</li>
        </div>
      </ul>
    </div>
    <div class="w-8/12 items-center">
      <img
        src="https://ng.jumia.is/cms/0-1-cpr/2023/large-item-updated/design-update/Desktop_Homepage_Slider__712x384.png"
        alt=""
        width="1200"
      />
    </div>
    <div class="flex flex-col gap-2 justify-between w-2/12 bg-gray-100">
      <img
        src="https://ng.jumia.is/cms/0-1-cpr/2022/june-14/free-delivery_218x184.png "
        alt=""
      />
      <img
        src="https://ng.jumia.is/cms/0-1-initiatives/jforce/2023/JForce.png"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %}
