{% extends 'base.html' %}

{% block content %}
<div class=" mt-4 ml-64 mr-64">
    <div class="bg-green-800 flex justify-between h-8 rounded-sm">
      <h1 class="ml-5 text-white">Phone Discounts</h1>
      <a href="" class="mr-5 text-white">See All</a>
    </div>
    <div class="flex flex-wrap gap-2 mt-4 rounded-sm">
        {% for product in products %} 
      <div class="w-64 relative border-2 border-green-700">
        <a href="{{product.product_url}}">
       
        <div class="w-12 bg-red-600 mt-4 absolute right-2 text-center text-white">{{product.discount_percent}}</div>
        <img src="{{product.image}}" alt="">
        
        <div class="p-2">
          <h1 class="text-gray-700 font-bold">{{ product.name }}</h1>
          <div class="mt-4 border-2 text-gray-700 font-black text-xl border-green-200 text-center "><span class="">#{{product.discount_price}}</span> <span class=" line-through decoration-red-600">#{{product.original_price}}</span></div>
          <div class="mt-4 border-2 border-green-200 hover:bg-green-700 hover:text-white rounded-sm text-gray-600 text-center  font-black text-xl "><span class="">Store:</span><span class="pl-2">Jumia</span></div>
        </div>
         </a>
        
      </div>
      {% endfor %}
      
    </div>
  </div>
{% endblock %}