<div class="bg-white h-16 border-b-2 border-green-100 ">
    <div class="flex justify-between items-center pt-2 ml-64 mr-64">
        <h1 class="font-black text-4xl text-green-900">PRICE FINDER</h1>
        <div class="">
            <input type="search" placeholder="search item " class="p-2 outline-green-900"/>
        <button class="border-2 rounded-md bg-green-900 p-2 text-white hover:bg-green-700">search</button>
        </div>
        
        <ul class="flex justify-between items-center gap-2 text-xl font-medium text-gray-500">
            <li class="hover:text-green-700 p-2">About</li>
            <li class="hover:text-green-700 p-2 ">Contact</li>
            <li class="hover:text-green-700 p-2 ">Advertise</li>
        </ul> 
    </div>
</div>